<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro Usuarios</title>
</head>
<body>

<h3>
    {% if messages %}
        {% for message in messages %}
            {{ message }}<br/>
        {% endfor %}
    {% endif %}
</h3>

<form action="/mi_app/crear_usuario/" enctype="multipart/form-data" method="POST">
    {% csrf_token %}

    <h2>Registro De Usuarios</h2><br>

    <label>
        Nombre:
        <input name="nombre" type="text">
    </label><br/>
    <label>
        Apellido:
        <input name="apellido" type="text">
    </label><br/>
    <label>
        Fecha de nacimiento:
        <input name="fecha_nacimiento" type="text">
    </label><br/>
    <label>
        Nombre de usuario:
        <input name="username" type="text">
    </label><br/>
    <label>
        Correo electronico:
        <input name="email" type="text">
    </label><br/>
    <label>
        Correo de recuperacion:
        <input name="email_recuperacion" type="text">
    </label><br/>
    <label>
        Password:
        <input name="password" type="text">
    </label><br/>
    <label>
        Numero Telefonico:
        <input name="numero" type="text">
    </label><br/>
    <label>
        Ubicacion:
        <input name="ubicacion" type="text">
    </label><br/>
    <label>
        Estado/Provincia:
        <input name="estado" type="text">
    </label><br/>
    <label>
        Ciudad:
        <input name="ciudad" type="text">
    </label><br/>
    <button type="submit">Crear Usuario</button>
</form>
</body>
</html>